<!--受付の人が操作する画面。注文を受ける。-->
<html>

<head>
</head>

<body>
    <h1>注文画面です</h1>
    <p>塩
        <select>
            <option value=0>0個</option>
            <option value=1>1個</option>
            <option value=2>2個</option>
            <option value=3>3個</option>
            <option value=4>4個</option>
            <option value=5>5個</option>
            <option value=6>6個</option>
            <option value=7>7個</option>
            <option value=8>8個</option>
            <option value=9>9個</option>
        </select>
    </p>
    <p>チーズ
        <select>
            <option value=0>0個</option>
            <option value=1>1個</option>
            <option value=2>2個</option>
            <option value=3>3個</option>
            <option value=4>4個</option>
            <option value=5>5個</option>
            <option value=6>6個</option>
            <option value=7>7個</option>
            <option value=8>8個</option>
            <option value=9>9個</option>
        </select>
    </p>
    <p>七味
        <select>
            <option value=0>0個</option>
            <option value=1>1個</option>
            <option value=2>2個</option>
            <option value=3>3個</option>
            <option value=4>4個</option>
            <option value=5>5個</option>
            <option value=6>6個</option>
            <option value=7>7個</option>
            <option value=8>8個</option>
            <option value=9>9個</option>
        </select>
    </p>
    <p>マヨ
        <select>
            <option value=0>0個</option>
            <option value=1>1個</option>
            <option value=2>2個</option>
            <option value=3>3個</option>
            <option value=4>4個</option>
            <option value=5>5個</option>
            <option value=6>6個</option>
            <option value=7>7個</option>
            <option value=8>8個</option>
            <option value=9>9個</option>
        </select>
    </p>
    <input type="button" , id="ajax-button" , value="注文を受ける">
    <input type="button" , value="戻る" , onclick="location.href='../'">
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../static/order.js"></script>

</html>
