<!--調理場付近に置く。調理をする人がいじる画面。-->
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>

    <div>
        <h1>じゃがいもタイマー(仮)</h1>
    </div>

    <form id="timer1">
        <input type="text" value="">分
        <input type="text" value="">秒<br>
        <input type="button" value="スタート" onclick="cntStart(1)">
        <input type="button" value="ストップ" onclick="cntStop(1)">
    </form>

    <form id="timer2">
        <input type="text" value="">分
        <input type="text" value="">秒<br>
        <input type="button" value="スタート" onclick="cntStart(2)">
        <input type="button" value="ストップ" onclick="cntStop(2)">
    </form>
    
    <input type="button" value="戻る" onclick="location.href='../'">

    <script type="text/javascript" src="../static/timer.js"></script>
</body>

</html>
